# application.yml
server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:sqlite:./trading.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    database-platform: com.capital.config.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      hibernate.connection.isolation: 2

springfox:
  documentation:
    swagger-ui:
      enabled: true
      path: /swagger-ui.html
    open-api:
      enabled: true

logging:
  level:
    root: DEBUG
    org.springframework: DEBUG
    com.capital: DEBUG